@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web application will house all practice problems and their solutions that I completed via Leetcode.</p>
</div>
